* {
  padding: 0;
  margin: 0;
}

.navList {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 10px;
  min-height: 1em;
  align-items: center;
  list-style: none;
  width: viewport;
}

#SecretTrick {
  color: rgb(0, 0, 0);
}

#signOut {
  background-color: blue;
}
/*   --------------after nav bar------------------------- */
.Wrapper {
  width: viewport;
  min-height: 400px;
  margin: 1em 1em 1em 1em;
}

.Container {
  display: flex;
  min-width: 600px;
  min-height: 450px;
  justify-content: space-evenly;
  margin: 1em;
  padding: 1em;
}

.Left {
  min-width: 200px;
  min-height: 200px;
  justify-content: space-around;
}
.card {
  border: solid blue 3px;
}
#pic {
  width: 400px;
  height: 270px;
}

.lowerLeftConsolidated {
  margin-top: 1em;
  border: solid blue 3px;
}
.TitleBar {
  background-color: darkgrey;
  color: ghostwhite;
  text-emphasis-style: bold;
}

.myRequests {
  height: 25px;
  color: Blue;
  background-color: white;
}

#userPic {
  height: 25px;
}

.ConnectionRequests {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25px;
  background-color: darkgrey;
  color: white;
}

.Requests {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 25px;
  color: Black;
  text-emphasis-style: bold;
  background-color: white;
}

.Right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 400px;
  align-items: baseline;
  justify-content: space-between;
}

.rightTop {
  margin-bottom: 1em;
  border: solid 3px blue;
  width: 190px;
}

.rightBottom {
  margin-top: 6em;
  min-height: 4em;
  border: solid 3px blue;
  margin-bottom: 1em;
  width: 190px;
}
.viewMore {
  height: 1.5em;
  text-emphasis: bold;
  text-decoration: underline;
  border-top: solid blue 3px;
  color: blue;
}
